/* add various customizations... */

.navbar-custom .navbar-brand-logo img {
  height: 150px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .8);
  box-shadow: 0 0 3px rgba(0, 0, 0, .8);
  -webkit-transition: height .5s ease-in-out;
  -moz-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}

/* make headers bold instead of extra-bold */
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  font-weight: 700;
}
.post-preview .post-read-more {
  font-weight: 700;
}
.pager li a {
  font-weight: 700;
}

