@import "tailwindcss";
@import "@us-rse/design-system/tokens.css";

html,
body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    sans-serif;
  background: #fafafa;
  color: #1c1c1e;
}
