{%- assign post = event | default: post | default: page %}
{%- assign title = include.title | default: post.title | default: page.title %}
{%- assign excerpt = include.excerpt | default: post.excerpt | default: page.excerpt %}
{%- assign url = include.url | default: post.url | default: page.url %}
{%- assign event_id = post.id | split: '/' | last %}

<div id="calendar-button"></div>
<script src="{{ site.baseurl }}/assets/js/add-to-calendar.min.js"></script>
<script>
var myCalendar = addToCalendar({
  options: {
    class: 'usrse-event',
    
    // You can pass an ID. If you don't, one will be generated for you
    id: 'usrse-event-{{ title | slugify }}'
  },
  data: {
    // Event title
    title: '{{ title }}',

    // Event start date
    start: new Date('{{ time.start | date_to_xmlschema }}'),
    
    // Event timezone. Will convert the given time to that zone
    timezone: "America/New_York", 

    // Event duration (IN MINUTES)
    duration: 120,

    // You can also choose to set an end time
    // If an end time is set, this will take precedence over duration
    // end: new Date('June 15, 2013 23:00'), 
    
    // You can also choose to set 'all day'
    // If this is set, this will override end time, duration and timezone
    {% if post.all_day %}allday:true,{% endif %}

    // Event Address
    address: "{{ site.url }}{% if site.baseurl %}{{ site.baseurl }}/{% endif %}{{ url }}",

    // Event Description
    description: '{{ excerpt | markdownify | strip_html | split: "\n" | slice: 1,3 | join: " " }}'
  }
});

document.querySelector('#calendar-button').appendChild(myCalendar);
</script>
