{% assign ref = include.ref %}

{% capture authors -%}
{%- if ref.author -%}
  {%- for a in ref.author limit:3 -%}
    {%- if a.given -%}
      {{ a.given }} {{ a.family }}
    {%- else -%}
      {{ a.family }}
    {%- endif -%}
    {%- unless forloop.last -%}, {% endunless -%}
  {%- endfor -%}
  {%- if ref.author.size > 3 -%}, et al.{%- endif -%}
{%- endif -%}
{%- endcapture %}

- **{{ authors }}**{% if ref.issued %} ({{ ref.issued | date: "%Y" }}){% endif %}. _{{ ref.title }}_{% if ref.container-title %}, *{{ ref.container-title }}*{% endif %}{% if ref.volume %} {{ ref.volume }}{% endif %}{% if ref.issue %}({{ ref.issue }}){% endif %}. {% if ref.doi %}[Read the Article.](https://doi.org/{{ ref.doi }}){% elsif ref.url %}[Check it out.]( {{ ref.url }} ){% elsif ref.publisher %}[Read the Article.]( {{ ref.publisher }} ){% endif %}