{% assign ref = include.ref %}

{% capture authors -%}
{%- if ref.author -%}
  {%- for a in ref.author -%}
    {%- if forloop.index <= 3 -%}
      {{ a.family }}, {{ a.given | slice: 0 }}.{% if forloop.index < 3 and forloop.index < ref.author.size %}, {% endif %}
    {%- elsif forloop.index == 4 -%}
      et al.
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
{%- endcapture %}

- **{{ authors }}**{% if ref.issued %} ({{ ref.issued | date: "%Y" }}){% endif %}. _{{ ref.title }}_, {% if ref.container-title %}*{{ ref.container-title }}*{% endif %}{% if ref.volume %} {{ ref.volume }}{% endif %}{% if ref.issue %}({{ ref.issue }}){% endif %}. {% if ref.doi %}[Read the Article.](https://doi.org/{{ ref.doi }}){% elsif ref.url %}[Check it out.]( {{ ref.url }} ){% elsif ref.publisher %}[Read the Article.]( {{ ref.publisher }} ){% endif %}