{% assign menus = site.data.menus[page.menubar] %}

<aside class="menu">
{% for menu in menus %}
    {% if menu.label %}<p class="menu-label">{{ menu.label }}</p>{% endif %}
    <ul class="menu-list">
        {% for item in menu.items %}
        <li>
            <a href="{{ item.link | relative_url }}" class="{% if item.link == page.url %}is-active{% endif %}">{{ item.name }}</a>
            {% if item.items %}
            <ul>
                {% for subitem in item.items %}
                <li><a href="{{ subitem.link | relative_url }}" class="{% if subitem.link == page.url %}is-active{% endif %}">{{ subitem.name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}    
    </ul>
{% endfor %}
</aside>
