<article>
	<a href="{{ post.url | prepend: site.baseurl }}"> 
	<h3 >
		{{ post.title }}
	</h3>
	{% if post.subtitle %} 
	<h4>
		{{ post.subtitle }} 
	</h4>
	{% endif %} </a> 
	{% if post.tags.size > 0 %} 
	<div class="tags">
		{% for tag in post.tags %} {% include tag.html tag=tag %} {% endfor %} 
	</div>
	{% endif %} 
	<small>Posted on {{ post.date | date: "%B %-d, %Y" }}</small> 
	
	{% if post.summary %} 
	{{ post.summary | markdownify }} 
	{% else %} 
	<p>
		{{ post.excerpt }}
	</p>
	{% endif %} 

	<div style='margin-bottom:20px'>
		<small>
            <a href="{{ site.baseurl }}{{ post.url }}" class="button btn-warning">Read more</a></small>
        </div>
</article>
