{% assign event = include.event %}

{% if event.authors %}
{% for author in event.authors %}
  {% assign author = site.data.authors[author] | default: author %}
  <b>{{ author.name }}</b>{% unless forloop.last %}, {% endunless %}
{% endfor %}
{% if event.time %}
{% for occurrence in event.time %}
{% if forloop.index0 == 1 %}
<b>Repeated events</b> <abbr title="This event is repeated to cover multiple time zones"><i class="fas fa-info-circle"></i></abbr>
{% endif %}
<ul class="page__date">
  {% for time in occurrence %}
  <li>
    {% include events/event-time.html no_button=true%}
  </li>
  {% endfor %}
</ul>
{% endfor %}
{% else %}
<div class="notice--info" style="display: table-cell;"><i>This event will be scheduled soon</i></div>
{% endif %}
{% endif %}
