{% assign entries = include.collection %}


<section id="{{ category | slugify | downcase }}" class="taxonomy__section">
    <h2>{{ category_name }}</h2>

{% assign entries = entries | sort: 'expires' | reverse %}

{%- for post in entries limit:5 -%}
  {%- unless post.hidden -%}
    {% assign hasevents = "true" %}
    {% include events/event-card.html %}
  {%- endunless -%}
{%- endfor -%}

<div class="row">
<div class="col-md-12">
<a type="button" style="float:right" class="btn btn-sm btn-warning" href="{{ site.baseurl }}/events/category#{{ category | slugify | downcase }}">View more {{ category }} events</a>
</div>
</div>

</section>
