{% assign entries = include.collection %}

<section id="{{ category | slugify | downcase }}" class="taxonomy__section">
    <h2>{{ category_name }}</h2>
    <hr style="width:40%" />

{% assign entries = entries | sort: 'expires' | reverse %}

<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
{%- for post in entries limit:5 -%}
{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% capture expires %}{{ post.expires | date: '%s'}}{% endcapture %}
  {%- unless post.hidden or expires < nowunix -%}
    {% assign hasevents = "true" %}
    <div class="col" style="margin-bottom: 20px;">
      {% include events/event-card.html %}
    </div>
  {%- endunless -%}
{%- endfor -%}
</div>

<div class="row">
<div class="col-md-12">
<a type="button" style="float:right" class="btn btn-sm btn-warning" href="{{ site.baseurl }}/events/category#{{ category | slugify | downcase }}">View more {{ category }} events</a>
</div>
</div>

</section>
