<!DOCTYPE html>
{% if page.menubar or page.menubar_toc %}
{% assign has_left_sidebar = true %}
{% endif %}

<html
 lang="{{ site.lang | default: 'en' }}"
 {% if site.fixed_navbar %}class="has-navbar-fixed-{{ site.fixed_navbar }}"{% endif %}>
  {% include head.html %}
  <body>
    {% include header.html %}
    {% if page.show_hero %}
        {% include hero.html %}
    {% endif %}
    {% include callouts.html %}
    <section class="section" style="background-color: white; border-radius:3px">
        <div class="container">
            <div class="columns">
                {% if page.menubar or page.menubar_toc %}<div class="column is-3-desktop is-3-tablet">
                    {% include sidebar.html %}
                </div>{% endif %}
                <div class="column">
                    {{ content }}
                {% comment %}Add the last modified default ID (floating to right) unless the page defines a custom one {% endcomment %}
                {% unless page.last_modified_id %}<div style="float:right; margin-top:25px" id="last-modified"></div>{% endunless %}
                </div>
            </div>
        </div>
    </section>
    
    <a href="#top" id="back-to-top" title="Back to Top" align="center">⬆️ Back to top ⬆️</a>
    
    <script>
        console.log('Scroll event listener registered');
        window.addEventListener("scroll", function() {
            console.log('scrolling...', window.scrollY);
            var backToTopButton = document.getElementById("back-to-top");
            if (window.scrollY > 300) {
                console.log('Show button');
                backToTopButton.style.display = "block";
            } else {
                console.log('Hide button');
                backToTopButton.style.display = "none";
            }
        });
    </script>

{% unless page.hide_footer %}{% include footer.html %}{% endunless %}
{% include footer-scripts.html %}
{% if page.set_last_modified %}{% include last-modified.html %}{% endif %}

  </body>
</html>