name: Post New Jobs

on:
  push:
    paths:
      - '_data/jobs.yml'
    branches:
      - main

jobs:
  jobs-poster:
    runs-on: ubuntu-latest
    name: Run Jobs Poster
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - id: updater
        name: Job Updater
        uses: rseng/jobs-updater@e38506c1bd06587fc1b1af1024371998557dbff9
        with:
          filename: "_data/jobs.yml"

          # Fields to include (all but url will have title before)
          keys: "name,location,url"

          # Field to determine job uniqueness
          unique: "url"

          deploy: true
          test: false

          # Deploy to Slack channel
          slack_deploy: true
          slack_webhook: ${{ secrets.SLACK_WEBHOOK }}

          # Also deploy to Twitter (all secrets required in repository secrets)
          twitter_deploy: true
          twitter_api_secret: ${{ secrets.TWITTER_ACCESS_SECRET }}
          twitter_api_key: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          twitter_consumer_secret: ${{ secrets.TWITTER_CONSUMER_API_SECRET }}
          twitter_consumer_key: ${{ secrets.TWITTER_CONSUMER_API_KEY }}

          # Also deploy to Mastodon (all secrets required in repository secrets)
          mastodon_deploy: true
          mastodon_access_token: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          mastodon_api_base_url: ${{ secrets.MASTODON_API_BASE_URL }}

          # Also deploy to BlueSky (all secrets required in repository secrets)
          bluesky_deploy: true
          bluesky_password: ${{ secrets.BLUESKY_PASSWORD }}
          bluesky_email: ${{ secrets.BLUESKY_EMAIL }}

      - run: echo ${{ steps.updater.outputs.fields }}
        name: Show Fields Used
        shell: bash

      - run: echo ${{ steps.updater.outputs.matrix }}
        name: Show New Jobs
        shell: bash
